* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  background-color: rgb(245, 245, 245);
}
h2 {
  text-align: center;
  color: #525252ee;
}
ul {
  list-style-type: none;
}
ul li {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
ul li a {
  background-color: #f71591;
  padding: 1rem 1.5rem;
  margin: 0.5rem 0;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  border-radius: 0.5rem;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}
